{% extends 'base_admin.html.twig' %}

{% block container %}
<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <div class="main-body">
            <div class="page-wrapper">

                <div class="page-header">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <div class="d-inline">
                                    <h4>HTML 5 Data Export</h4>
                                    <span>HTML5 buttons provides the local file saving features</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html"> <i class="feather icon-home"></i> </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Data Table Extensions</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">Button</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#!">HTML5 Data-Export</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-body">
                    <div class="row">
                        <div class="col-sm-12">

                            <div class="card">
                                <div class="card-header table-card-header">
    <h1>Eleve edit</h1>
                                    {{ form_start(edit_form, {'method': 'post', 'action': path('eleve_edit', { 'id': eleve.id }) }) }}
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            {{ form_row(edit_form.nbreAbsence,{ 'attr': {'class': 'form-control form-control-round','placeholder': 'nombre Absence','required' :'1'} }) }}
                                        </div>
                                    </div>

        <input type="submit" value="Edit" class="btn btn-grd-danger" />
    {{ form_end(edit_form) }}

<div>
    <ul>
        <li>
            <a href="{{ path('eleve_index') }}">Back to the list</a>
        </li>

    </ul>
                         </div>
                                </div>
                            </div>

                            {% endblock %}
